body {
  min-height: 2000px;
  background-color: rgb(177, 166, 166);
}

/* gambar + text */
.jumbotron {
  padding-top: 6rem;
  background-color: hsla(24, 7%, 73%, 0.627);
  background: url(../img/city.png) no-repeat;
  background-size: cover;
  display: flex;
  height: 600px;
}

.jumbotron h1 {
  font-weight: 600;
}

.jumbotron p {
  font-weight: 400;
}

.About-Us {
  width: auto;
  color: #ffffff;
  background: url(../img/work.jpg);
  font-weight: 600;
}

.About-Director h1 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.About-Director profile-img {
  text-align: center;
  margin-top: 1.5rem;
}
.About-Director-Content {
  margin-top: 3rem;
}

/* transisi */
.navbar a {
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  margin-left: auto;
  transition: 2s;
}

.navbar a:hover,
.navbar a.active {
  color: #ededed;
}
